<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ url_for('static', filename='img/ocr.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dataTables/dataTables.bootstrap5.css') }}">

        <!-- JavaScript files -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dataTables/dataTables.js') }}"></script>
        <script src="{{ url_for('static', filename='dataTables/dataTables.bootstrap5.js') }}"></script>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container-fluid">
                <div class="d-flex ms-auto">
                    <a href="{{ url_for('ocr') }}">
                        <img src="{{ url_for('static', filename='img/ocr.png') }}" alt="Your Image" class="img-fluid" style="height: 40px;">
                    </a>
                </div>
            </div>
        </nav>

        <!-- Content area -->
        {% block content %}
        {% endblock %}
    </body>
</html>
